#3b581054-4ce8-db38-e9ce-96470441f8e5{
  font-size:large;
  color:red;
  
}

.theme-entry span.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry h1.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry h2.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry h3.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry h4.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry label.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry p.SourceCode-Forms-Controls-Web-Label.LabelWrap, .theme-entry span.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap, .theme-entry h1.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap, .theme-entry h2.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap, .theme-entry h3.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap, .theme-entry h4.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap, .theme-entry label.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap, .theme-entry p.SourceCode-Forms-Controls-Web-DataLabel.LabelWrap {
font-size:large;
  color:red;
}

