

span[name="Label3"], span[name="Label4"], span[name="Label6"], span[name="Label8"], span[name="Label7"], span[name="Label9"], span[name="Label10"], span[name="Label11"], span[name="Label12"], span[name="Label13"],
span[name="Label"], span[name="Label25"], span[name="Label29"], span[name="Label28"], span[name="Label30"], span[name="Label31"], span[name="Label32"],
span[name="Label33"], span[name="Label43"], span[name="Label44"], span[name="Label45"], span[name="Label46"], span[name="Label49"], span[name="Label50"],
span[name="Label52"], span[name="Label53"], span[name="Label54"], span[name="Label55"], span[name="Label56"], span[name="Label57"], span[name="Label158"],
span[name="Label59"], span[name="Label60"], span[name="Label61"], span[name="Label62"], span[name="Label4"], span[name="Label40"], span[name="Label68"],
span[name="Label69"], span[name="Label70"], span[name="Label71"], span[name="Label72"], span[name="Label73"], span[name="Label74"], span[name="Label75"],
span[name="Label76"], span[name="Label77"], span[name="Label78"], span[name="Label79"], span[name="Label80"], span[name="Label81"], span[name="Label82"],
span[name="Label83"], span[name="Label84"], span[name="Label85"], span[name="Label86"], span[name="Label87"], span[name="Label88"], span[name="Label89"],
span[name="Label90"], span[name="Label91"], span[name="Label92"], span[name="Label93"], span[name="Label94"], span[name="Label95"], span[name="Label96"],
span[name="Label97"], span[name="Label98"], span[name="Label99"], span[name="Label100"], span[name="Label101"], span[name="Label102"], span[name="Label150"],
span[name="Label58"], span[name="Label160"], span[name="Label162"], span[name="Label163"], span[name="Label164"], span[name="Label165"], span[name="Label166"],
span[name="Label167"], span[name="Label5"], span[name="Label28"], 
{
   font-family: 'Helvetica' !important;
color : red !important
}


span[name="Label1"]

{
   font-family: 'GE Dinar-One' !important;
color : green !important
}



