
span[name="Label"], span[name="Label3"], span[name="Label4"], span[name="Label25"], span[name="Label29"], span[name="Label28"], span[name="Label30"],
span[name="Label31"], span[name="Label40"], span[name="Label43"], span[name="Label52"], span[name="Label5"], span[name="Label6"], span[name="Label7"],
span[name="Label8"], span[name="Label9"], span[name="Label10"], span[name="Label11"], span[name="Label12"], span[name="Label68"], span[name="Label69"],
span[name="Label70"], span[name="Label71"], span[name="Label72"], span[name="Label75"], span[name="Label76"], span[name="Label79"], span[name="Label80"],
span[name="Label56"], span[name="Label57"], span[name="Label58"], span[name="Label59"], span[name="Label60"], span[name="Label61"], span[name="Label62"],
span[name="Label63"], span[name="Label88"], span[name="Label89"], span[name="Label115"], span[name="Label93"], span[name="Label94"], span[name="Label95"],
span[name="Label90"], span[name="Label91"], span[name="Label92"], span[name="Label96"], span[name="Label97"], span[name="Label98"], span[name="Label118"],
span[name="Label181"], span[name="Label180"], span[name="Label182"], span[name="Label178"], span[name="Label179"], span[name="Label101"], span[name="Label102"],
span[name="Label136"], span[name="Label137"], span[name="Label138"], span[name="Label139"], span[name="Label140"], span[name="Label141"], span[name="Label150"],
span[name="Label156"], span[name="Label157"], span[name="Label99"], span[name="Label183"], span[name="Label192"], span[name="Label193"], span[name="Label194"],
span[name="Label203"], span[name="Label205"], span[name="Label206"], span[name="Label207"], span[name="Label208"], span[name="Label209"], span[name="Label210"],
span[name="Label211"], span[name="Label231"], span[name="Label233"], span[name="Label234"], span[name="Label238"], span[name="Label239"], span[name="Label240"],
span[name="Label247"], span[name="Label249"], span[name="Label250"], span[name="Label251"], span[name="Label252"], span[name="Label253"], span[name="Label254"],
span[name="Label255"], span[name="Label256"], span[name="Label257"], span[name="Label258"], span[name="Label277"], span[name="Label279"], span[name="Label280"],
span[name="Label281"], span[name="Label282"], span[name="Label283"], span[name="Label284"], span[name="Label285"], span[name="Label286"], span[name="Label2"], span[name="Label27"]





{
   font-family: 'Helvetica' !important;
  color: green !important;
  
 
}




span[name="Label1"], span[name="Table8"]


{
   font-family: 'GE Dinar-One' !important;
  color: gray !important;
   
  
}

