
span[name="Label"]

{
   font-family: 'Helvetica' !important;
  color: green !important;
  
 
}




span[name="Label1"]


{
   font-family: 'GE Dinar-One' !important;
  color: gray !important;
   
  
}

