
span[name="Label"], span[name="Label3"], span[name="Label4"], span[name="Label25"], span[name="Label29"], span[name="Label28"], span[name="Label30"], 
span[name="Label31"], span[name="Label40"], span[name="Label43"], span[name="Label52"], span[name="Label5"], span[name="Label6"], span[name="Label7"],
span[name="Label8"], span[name="Label9"], span[name="Label10"], span[name="Label11"], span[name="Label12"], span[name="Label68"], span[name="Label69"],
span[name="Label70"], span[name="Label71"], span[name="Label72"], span[name="Label75"], span[name="Label76"], span[name="Label79"], span[name="Label80"],
span[name="Label56"], span[name="Label57"], span[name="Label58"], span[name="Label59"], span[name="Label60"], span[name="Label61"], span[name="Label62"],
span[name="Label63"], span[name="Label88"], span[name="Label89"], span[name="Label115"], span[name="Label93"], span[name="Label94"], span[name="Label95"],
span[name="Label90"], span[name="Label91"], span[name="Label92"], span[name="Label96"], span[name="Label97"], span[name="Label98"], span[name="Label118"],
span[name="Label181"], span[name="Label180"], span[name="Label182"], span[name="Label178"], span[name="Label179"], span[name="Label101"], span[name="Label102"],
span[name="Label136"], span[name="Label137"], span[name="Label138"], span[name="Label139"], span[name="Label140"], span[name="Label141"], span[name="Label150"],
span[name="Label156"], span[name="Label157"], span[name="Label99"], span[name="Label183"], span[name="Label192"], span[name="Label193"], span[name="Label194"],
span[name="Label203"], span[name="Label205"], span[name="Label206"], span[name="Label207"], span[name="Label208"], span[name="Label209"], span[name="Label210"],
span[name="Label211"], span[name="Label231"], span[name="Label233"], span[name="Label234"], span[name="Label238"], span[name="Label239"], span[name="Label240"],
span[name="Label247"], span[name="Label249"], span[name="Label250"], span[name="Label251"], span[name="Label252"], span[name="Label253"], span[name="Label254"],
span[name="Label255"], span[name="Label256"], span[name="Label257"], span[name="Label258"], span[name="Label277"], span[name="Label279"], span[name="Label280"],
span[name="Label281"], span[name="Label282"], span[name="Label283"], span[name="Label284"], span[name="Label285"], span[name="Label286"], span[name="Label2"],
span[name="Label27"],  span[name="Label38"], span[name="Labe36"], span[name="Labelabc"], span[name="Label136"], span[name="Label14"], span[name="Label44"],
span[name="Label47"], span[name="Label45"], span[name="Label48"], span[name="Label50"], span[name="Label36"], span[name="Label7"], span[name="Label19"],
span[name="Label113"], span[name="Label114"], span[name="Label122"]





{
   font-family: 'Helvetica' !important;
   
  
  
 
}




span[name="Label1"], span[name="Label15"], span[name="Label26"], span[name="Label34"], span[name="Label35"], span[name="Label37"], span[name="Label41"],
span[name="Label13"], span[name="Label16"], span[name="Label17"], span[name="Label18"], span[name="Label20"], span[name="Label21"],
span[name="Label22"], span[name="Label23"], span[name="Label24"], span[name="Label111"], span[name="Label103"], span[name="Label133"], span[name="Label138"],
span[name="Label39"],  span[name="Label46"],  span[name="Label49"], span[name="Label51"], span[name="Label53"],
span[name="Label55"], span[name="Label127"], span[name="Label64"], span[name="Label66"], span[name="Label67"], span[name="Label74"], span[name="Label77"],
span[name="Label81"], span[name="Label83"], span[name="Label85"], span[name="Label86"], span[name="Label105"], span[name="Label108"], span[name="Label109"],
span[name="Label112"], span[name="Label129"], span[name="Label117"], span[name="Label126"], span[name="Label128"], span[name="Label33"],
span[name="Label120"], span[name="Label123"], span[name="Label125"], span[name="Label164"], span[name="Label166"], span[name="Label167"],
span[name="Label169"], span[name="Label170"], span[name="Label172"], span[name="Label73"], span[name="Label175"], span[name="Label177"], span[name="Label131"],
span[name="Label134"], span[name="Label184"], span[name="Label191"], span[name="Label186"], span[name="Label187"], span[name="Label190"], span[name="Label135"],
span[name="Label119"], span[name="Label143"], span[name="Label144"], span[name="Label145"], span[name="Label147"], span[name="Label148"], span[name="Label151"],
span[name="Label152"], span[name="Label155"], span[name="Label153"], span[name="Label158"], span[name="Label160"], span[name="Label161"], span[name="Label163"],
span[name="Label100"], span[name="Label195"], span[name="Label197"], span[name="Label201"], span[name="Label199"], span[name="Label202"], span[name="Label204"],
span[name="Label212"], span[name="Label214"], span[name="Label215"], span[name="Label217"], span[name="Label218"], span[name="Label220"], span[name="Label221"],
span[name="Label223"], span[name="Label224"], span[name="Label226"], span[name="Label227"], span[name="Label229"], span[name="Label232"], span[name="Label235"],
span[name="Label237"], span[name="Label241"], span[name="Label242"], span[name="Label244"], span[name="Label246"], span[name="Label248"], span[name="Label259"],
span[name="Label261"], span[name="Label262"], span[name="Label263"], span[name="Label265"], span[name="Label266"], span[name="Label268"], span[name="Label269"],
span[name="Label270"], span[name="Label272"], span[name="Label274"], span[name="Label275"], span[name="Label276"], span[name="Label278"], span[name="Label287"],
span[name="Label288"], span[name="Label289"], span[name="Label290"], span[name="Label291"], span[name="Label292"], span[name="Label293"],
span[name="Label107"], span[name="Label42"], span[name="Label104"], span[name="Label173"], span[name="Label4"],
span[name="Label0f"], span[name="Label1f"], span[name="Label2f"], span[name="Label3f"], span[name="Label4f"], span[name="Label5f"], span[name="Label6f"],
span[name="Label7f"], span[name="Label14"], span[name="Label32"], span[name="Label78"], span[name="Label82"], span[name="Label174"], span[name="Label188"],
span[name="Label196"], span[name="Label271"], span[name="Label84"], span[name="Label87"], span[name="Label106"], span[name="Label54"], span[name="Label65"],
span[name="Label110"]


{
   font-family: 'GE Dinar-One' !important;
   direction: rtl;
  
}



